.logo-image{

    margin: auto;

}

.video-div{

    border-radius: 10px;

    background-color: #fff;

    border: 1px solid #ccc;

    padding: 15px;

}

.video-div iframe{

    border-radius: 10px;

    width: 100%;

    min-height: 270px;



}

.btn-yello-top{

    background-image: linear-gradient(to bottom, rgb(255, 201, 40) 0%, #febe00 100%);

    border: 1px solid #ccc;

    color: black;

    float: left;

    padding: 15px 30px;

    text-align: center;

    width: 90%;

    margin: 19px 0;

    text-decoration: none !important;

}

.blue-bar-div{

    background-color: blue;

    color: white;

    padding: 10px;

    font-size: 18px;

}

.outer-section-1{

    background-color: #ddd;

    border: 1px solid #ccc;

}

.section-red-div{

    background-color: rgb(221, 16, 33);

    outline: medium none;

    padding-bottom: 40px;

    padding-top: 40px;

    color: white;

}

.section-blue-div{

    background-color: rgb(59, 89, 152);

    outline: medium none;

    padding-bottom: 40px;

    padding-top: 40px;

    color: white;

}

.section-green-div{

    background-color: rgb(33, 108, 42);

    outline: medium none;

    padding-bottom: 40px;

    padding-top: 40px;

    color: white;

}

.signle-section-main .inner1 img{

    width: 100%;

}

.section-red-div h4,.section-blue-div h4,.section-green-div h4{

    font-size: 32px;

}

.section-red-div p,.section-blue-div p,.section-green-div p{

    font-size: 21px;

}

.signle-section h3{

    font-size: 32px;

}

.signle-section p{

    font-size: 27px;

}

.outer-section-1 .inner1{

    background-color: #fff;

    border:1px solid #ccc;

    padding: 20px;

}

.btn-yello-top h4{

    font-size:37px;

    color: rgb(0, 40, 63);

}

.form-login-magrin-top

{

    margin-top: 10%;

}



.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {

    z-index: 2;

    color: #fff;

    background-color: #222222;

    border-color: #080808;

}

.panel-group .panel {

        border-radius: 0;

        box-shadow: none;

        border-color: #EEEEEE;

    }



    .panel-default > .panel-heading {

        padding: 0;

        border-radius: 0;

        color: #212121;

        background-color: #FAFAFA;

        border-color: #EEEEEE;

    }



    .panel-title {

        font-size: 14px;

    }



    .panel-title > a {

        display: block;

        padding: 15px;

        text-decoration: none;

    }



    .more-less {

        float: right;

        color: #212121;

    }



    .panel-default > .panel-heading + .panel-collapse > .panel-body {

        border-top-color: #EEEEEE;

    }